{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block header_title %}Dashboard{% endblock %}

{% block breadcrumbs %}
    {% include("components/breadcrumbs/breadcrumbs.html.twig") with {'crumbs': [{'name': 'dashboard', 'url': 'dashboard' }]} %}
{% endblock %}

{% block content %}
    <div class="callout callout-info fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h5>We're still in alpha!</h5>
        <p>
            There <strong>will</strong> still be issues and bugs about,
            so if something goes wrong, just refresh the page / try again;
            we'll have logged it and will sort it out soon!
        </p>
    </div>
    <ul class="info-blocks">
        <li class="bg-danger">
            <div class="top-info">
                <a href="#">Storage</a>
                <small>Your Available Storage</small>
            </div>
            <a href="#"><i class="icon-drive"></i></a>
            <span class="bottom-info bg-primary">150GB Left</span>
        </li>
        <li class="bg-info">
            <div class="top-info">
                <a href="{{ path('downloads') }}">Downloads</a>
                <small>Your Torrents</small>
            </div>
            <a href="{{ path('downloads') }}"><i class="icon-download"></i></a>
            <span class="bottom-info bg-primary">{{ statistics.active }} Active Downloads</span>
        </li>
        <li class="bg-success">
            <div class="top-info">
                <a href="#">Conversions</a>
                <small>Your Queue</small>
            </div>
            <a href="#"><i class="icon-wand"></i></a>
            <span class="bottom-info bg-primary">5 Queued Conversions</span>
        </li>
        <li class="bg-warning">
            <div class="top-info">
                <a href="#">Files</a>
                <small>Your Downloaded Files</small>
            </div>
            <a href="#"><i class="glyphicon glyphicon-floppy-disk"></i></a>
            <span class="bottom-info bg-primary">12 Files Downloaded</span>
        </li>
        <li class="bg-primary">
            <div class="top-info">
                <a href="#">Stream</a>
                <small>Your Streamable Videos</small>
            </div>
            <a href="#"><i class="icon-film"></i></a>
            <span class="bottom-info bg-info">3 Videos Streamable</span>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <i class="icon-history"></i>
                        Your History
                    </h6>
                </div>
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td colspan="2">Added <span class="text-info">ubuntu-14.04-amd64.torrent</span> on 14/04/2014 at 16:30 GMT</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}